<div class="user-list-wrapper">
  <div style="flex:1;max-width:480px;">
    <h2>User List</h2>
    <ul *ngIf="users.length; else loading">
      <li *ngFor="let user of users">
        <b>{{ user.firstName }} {{ user.lastName }}</b> ({{ user.company }}) - {{ user.role.name }}<br />
        <small>{{ user.contact.phone }}, {{ user.contact.city }}, {{ user.contact.country }}</small>
      </li>
    </ul>
    <ng-template #loading>
      <div class="loader-wrapper">
        <div class="loader"></div>
        <span style="margin-top:0.7rem; color:#888;">Loading users...</span>
      </div>
    </ng-template>
  </div>
  <div style="flex:1;max-width:400px;">
    <h2>Add User</h2>
    <form (ngSubmit)="createUser()" #userForm="ngForm">
      <input name="firstName" [(ngModel)]="newUser.firstName" placeholder="First Name" required />
      <input name="lastName" [(ngModel)]="newUser.lastName" placeholder="Last Name" required />
      <input name="company" [(ngModel)]="newUser.company" placeholder="Company" required />
      <input name="sex" [(ngModel)]="newUser.sex" placeholder="Sex" required />
      <input name="phone" [(ngModel)]="newUser.contact!.phone" placeholder="Phone" required />
      <input name="address" [(ngModel)]="newUser.contact!.address" placeholder="Address" required />
      <input name="city" [(ngModel)]="newUser.contact!.city" placeholder="City" required />
      <input name="country" [(ngModel)]="newUser.contact!.country" placeholder="Country" required />
      <input name="roleName" [(ngModel)]="newUser.role!.name" placeholder="Role" required />
      <label><input type="checkbox" name="active" [(ngModel)]="newUser.active" /> Active</label>
      <button type="submit" [disabled]="userForm.invalid">Create</button>
    </form>
    <div *ngIf="error" style="color: red">{{ error }}</div>
  </div>
</div>
